/* start pagination */

#pagination {
    .pagination-body {
        display: flex;
        justify-content: space-between;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        color: rgba(0, 0, 0, 0.8);

        a {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }

        .pagination-number {
            a {
                padding: 5px 10px;
            }

            a:hover {
                background-color: blue;
                color: white;
                border-radius: 3px;
            }
        }
    }

}

/* end pagination */