#section-title{
    .heading{
    // font-family: 'Rubik';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 30px !important;
    line-height: 36px;
    color: #000000 !important;
    text-decoration: none   ;
    }
    .sub-heading{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #3C1FF4;
    }
}