

#SocialService{
    .imgAera{
        border: 1px solid rgba(0, 0, 0, 0.59);
        text-align: center;
        padding: 30px;
        height: 120px;
    }
    .social-service-img{
        img{
            width: 125px;
            height: 47px;
        }
        
    }
}