
#homeSlider{
    background-color: #F9F3F0;
}

.custom-slider-sub-heading{
    color: #3C1FF4
}
.custom-slider-heading{
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 59px;
color: rgba(24, 20, 20, 0.92);
text-decoration: none;
    &:hover{
        color: black;
    }
}

.buyNow{
    width: 184px;
    height: 64px;
    font-weight: 400;
    font-size: 25px;
    border: none;
    color: black;
    background: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    &:hover{
        color: white;
        background-color: #3C1FF4;
    }
}

.slick{
    position: relative;
}
.circleArea{
    position: absolute;
    top: 0;
    right: 0;
}
.slick h1{
    font-size: 55px;
}

.circle{
    position: relative;
    height: 140px;
    width: 140px;
    background: #3C1FF4;
    border-radius: 100%;
}
.circle h4{
    font-size: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.homeStartIcon{
    color:  #FFB000;
}

#homeSlider{     
    .slick-dots li button:before{
        content: '' !important;
        width: 20px;
        height: 5px !important;
        background-color: white;
        opacity: 1;
        border-radius: 3px;
    }
    .slick-dots li.slick-active button:before {
        opacity: .75;
        background-color: #3C1FF4 !important;
    }
}